@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --darkestcolor: #210535;
    --darkpurple: #420D4A;
    --purple: #7B347E;
    --lightpurple: #C774B2;
    --lightestpurple: #F4D5E0;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(../../img/gifespaçobg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 3em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.formcalculadora {
    height: 65vh;
    width: 50vw;
    padding: 10px;
    padding-top: 30px;
    backdrop-filter: blur(7.4px);
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(182, 229, 226, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.formcalculadora input {
    min-height: 25px;
    border: 2px solid var(--darkestcolor);
    border-radius: 10px;
    padding-left: 10px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s;
}

.formcalculadora input:hover {
    border: 2px solid var(--lightestpurple);
}

.formcalculadora input:focus {
    outline: none;
    border: 2px solid var(--purple)
}

.formcalculadora label {
    color: var(--darkestcolor);
}

button {
    height: 5vh;
    border: 4px solid transparent;
    background-color:  var(--purple);
    color: var(--darkestcolor);
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    border-radius: 30px;
    transition: 0.2s;
}

button:hover {
    border: 4px solid var(--lightestpurple);
    background-color: transparent;
    color: var(--lightestpurple);
}

button:active {
    border: 4px solid var(--lightpurple);
    background-color: transparent;
    color: var(--lightpurple);
}

table tr{
    background-color: var(--lightestpurple);
    color: var(--darkestcolor);
}

table tr:nth-child(odd) {
    background-color: var(--purple);
    color: var(--darkestcolor);
}

table td {
    text-align: center;
}
